logs
dist
dist-ssr
node_modules
npm-debug.*
**/database/
web-build

*.jks
*.key
*.local
*.log
*.mobileprovision
*.njsproj
*.ntvs*
*.orig.*
*.p12
*.p8
*.sln
*.suo
*.sw?

.DS_Store
.env
.expo/
.idea
.vscode/*
!.vscode/extensions.json
